.content{
    display: flex;
    justify-content: center;
    align-items: center;

}

.content h2{
    margin-left: 10px;
}

.content h4{
    color: rgb(239, 109, 17);
}

.main >input{
    padding: 8px;
    width: 60vw;
    border-radius: 10px;
    
}

.content h2{
    width: 60vw;
    background-color: rgb(239, 109, 17);
    /* background-color: pink; */
    border-radius: 4px;
}
.content h4{
    background-color: rgb(18, 13, 13);
    height: 30px;
    width: 30px;
    border-radius: 50% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}